<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Capstone Project</title>
</head>
<body>

<h1>API resources</h1>

<ol>
  <li><%= link_to 'Cities', cities_path %></li>
  <li><%= link_to 'States', states_path %></li>
</ol>
</body>
</html>


