<form class="inquiry-form form-horizontal" name="inquiryform">
  <div class="col-xs-offset-2" style="min-height: 30px;">
    <span class="inquiry-id id">{{$ctrl.item.id}}</span>
    <span class="invalid">{{$ctrl.item.errors.full_messages}}</span>
  </div>
  <div class="form-group">
    <label class="col-xs-2 control-label">Text <span class="text-danger small">*</span></label>
    <div class="col-xs-6">
      <input class="form-control"
           name="inquiry-text"
           type="text"
           placeholder="Inquiry"
           ng-model="$ctrl.item.text"
           ng-readonly="!$ctrl.authz.canUpdate"
           maxlength="100"
           pattern=".{5,}" title="5 character minimum for Text"
           required/>
      <span class="invalid">{{$ctrl.item.errors.text}}</span>
    </div>
  </div>
  <br>
  <hr>
  <div class="form-group">
    <div class="col-xs-offset-2 col-xs-6">
      <span ng-show="$ctrl.authz.authenticated">
        <button name="inquiry-create"
                type="submit"
                class="btn btn-primary"
                ng-show="!$ctrl.item.id && $ctrl.authz.canCreate"
                ng-disabled="inquiryform.$invalid"
                ng-click="$ctrl.create()">Create Inquiry</button>

        <span ng-show="$ctrl.item.id">
          <button name="inquiry-update"
                  type="submit"
                  class="btn btn-success"
                  ng-show="$ctrl.authz.canUpdate"
                  ng-disabled="!inquiryform.$dirty"
                  ng-click="$ctrl.update()">Update Inquiry</button>

          <button name="inquiry-delete"
                  type="submit"
                  class="btn btn-danger"
                  ng-show="$ctrl.authz.canDelete"
                  ng-click="$ctrl.remove()">Delete Inquiry</button>
        </span>
      </span>
      <button name="inquiry-clear"
              type="reset"
              class="btn btn-warning"
              ng-show="$ctrl.item.id || inquiryform.$dirty"
              ng-click="$ctrl.clear()">Clear Inquiry
      </button>
    </div>
  </div>

</form>
